{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "OUTLOOK_ICS_URL": "PEGA_AQUI_TU_LINK_ICS_SOLO_PARA_PROBAR_LOCAL_NUNCA_LO_SUBAS_A_GITHUB",
    "RECURSOS_STORAGE_CONNECTION": "PEGA_AQUI_LA_CADENA_DE_CONEXION_DEL_STORAGE_ACCOUNT_SOLO_PARA_PROBAR_LOCAL_NUNCA_LO_SUBAS_A_GITHUB",
    "BACKOFFICE_SQL_CONNECTION": "Server=TU_SERVIDOR.database.windows.net;Database=TU_BASE;User Id=TU_USUARIO;Password=TU_CONTRASEÑA;Encrypt=true",
    "BACKUP_CRON_SECRET": "PEGA_AQUI_UN_SECRETO_LARGO_AL_AZAR_SOLO_PARA_PROBAR_LOCAL_NUNCA_LO_SUBAS_A_GITHUB"
  }
}
