{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "OUTLOOK_ICS_URL": "PEGA_AQUI_TU_LINK_ICS_SOLO_PARA_PROBAR_LOCAL_NUNCA_LO_SUBAS_A_GITHUB",
    "RECURSOS_STORAGE_CONNECTION": "PEGA_AQUI_LA_CADENA_DE_CONEXION_DEL_STORAGE_ACCOUNT_SOLO_PARA_PROBAR_LOCAL_NUNCA_LO_SUBAS_A_GITHUB"
  }
}
